a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body{
  color: #000;
}

/*fonts*/
@font-face {
  font-family: 'futura light';
  src: url('../fonts/FuturaPT-Light.eot');
  src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Light.woff') format('woff'),
  url('../fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura medium';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Medium.woff') format('woff'),
  url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura bold';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Bold.woff') format('woff'),
  url('../fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura extrabold';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
  url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.futura-extrabold{
  font-family: 'futura extrabold', sans-serif;
}
.futura-bold{
  font-family: 'futura bold', sans-serif;
}
.futura-medium{
  font-family: 'futura medium', sans-serif;
}
.futura-light{
  font-family: 'futura light', sans-serif;
}
.mons-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.mons-med{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.mons-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.mons-extrabold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 30;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  border-bottom: 3px solid transparent;
  font-size: 1.3rem;
}
.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}
.phone{
  padding: 5px 10px;
  border: 4px solid #ffde00;
  border-radius: 12px;
}
.header.header-scrolled {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid #ffde00;
}
.header.header-scrolled .nav-link{
  color: #494d55;
}

.header.header-scrolled .navbar-nav .nav-item a {
  color: #000;
}

.header a {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header a:hover {
  text-decoration: none;
}

.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}
.header .logo .highlight {
  font-weight: 800;
}
.navbar .navbar-toggle:focus {
  outline: none;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

.navbar .nav-item.active a {
  background: none;
  color: #000;
}
img.logo{
  width: 60%;
}
.navbar .nav-item a:focus {
  outline: none;
  background: none;
}
.navbar .nav-item a:active {
  outline: none;
  background: none;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover{
  color: #000;
}
.phone a{
  color: #000;
}


/*main section*/
.main-section{
  padding: 160px 0px;
  overflow: hidden;
}
.main-section .container{
  position: relative;
}
.image-main{
  position: absolute;
  bottom: 5%;
  right: -25%;
}
.image-main img{
  width: 65%;
}
.main-button .first-button a{
  display: flex;
  background-color: #ffde00;
  padding: 13px 12px;
  border: #ffde00 solid 3px;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  border-radius: 8px;
}
.white-color-text{
  color: #fff;
}
.pink-color-text{
  color: #dacec7;
}
.main-button .first-button a:hover{
  background-color: transparent;
  color: #ffde00;
}

.main-text p{
  font-size: 65px;
  line-height: 0.9;
}
.main-subhead{
  font-size: 20px;
  line-height: 1.2;
}
.main-images{
  position: relative;
  height: 100%;
}
.main-img-1, .main-img-2, .main-img-3, .main-img-4{
  position: absolute;
}
.main-images img{
  width: 80%;
}
.main-img-1{
  left: -40%;
  bottom: 40%;
}
.main-img-2{
  right: -130%;
  bottom: 15%;
}
.main-img-3{
  left: -67%;
  bottom: -8%;
}
.main-img-4{
  right: -25%;
  bottom: -80%;
  width: auto;
}
.main-images .main-img-4 img{
  width: auto;
}

.main-text p{
  position: relative;
}
.main-text p:after{
  position: absolute;
  content: '';
  background-color: #ffde00;
  width: 65%;
  height: 40px;
  clip-path: polygon(0 93%, 100% 31%, 100% 60%, 0 100%);
  left: 0;
  bottom: -15%;
}


/*second section*/
.second-text{
  font-size: 23px;
  margin-left: 25px;
  border-right: 2px solid #000;
  margin: 20px 0px;
}
.second-text.last{
  border-right: 0px;
}
.second-text p{
  margin-bottom: 0;
}
.second-cont{
  background-color: #fff;
  transform: translateY(-50px);
  border-radius: 18px;
  box-shadow: 0px 6px 9px 0px #d0d0d0;
}
.second-section{
  background-color: #f4f8ff;
  /*padding-bottom: 100px;*/
}
.second-section .subhead{
  font-size: 30px;
  position: relative;
}
.second-section .subhead:after{
  position: absolute;
  content: '';
  background-color: #ffde00;
  width: 35%;
  height: 22px;
  clip-path: polygon(0 84%, 100% 44%, 100% 84%, 0 100%);
  left: 0;
  bottom: -15%;
}
.left-subhead .numb{
  font-size: 60px;
  margin-bottom: 0;
  line-height: 1;
}
.left-subhead .subsub-head{
  font-size: 25px;
  line-height: 1;
}
.right-subhead{
  font-size: 25px;
}
.second-text-sub{
  font-size: 9px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
  padding: 0px 8px;
}
.sub-button{
  background-color: #ffde00;
  align-items: center;
  border-radius: 5px;
}
.first-text-sub{
  font-size: 50px;
  line-height: 0.9;
  margin-bottom: 0;
}
.subhead-cont-second{
  margin-bottom: 70px;
}
.aksiya-head{
  font-size: 35px;
}
.aksiya-subhead{
  font-size: 25px;
}
.aksiya-cont{
  background-color: #ffde00;
  border-radius: 15px;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 6px 9px 0px #d0d0d0;
  margin-top: 30px;
  transform: translateY(45px);
}
.aksiya-text p{
  line-height: 1;
}
.aksiya-subsubhead{
  font-size: 25px;
}



/*third-section*/
.third-main-text{
  padding-left: 70px;

}
.third-main-text-head p{
  font-size: 30px;
}
.third-main-button{
  position: relative;
}
.third-main-button .circle{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffde00;
  top: 0;
  z-index: 1;
  transition: all 0.5s;
}
.third-main-button-text{
  padding: 15px 0px;
  padding-left: 15px;
}
.third-main-button-text p{
  margin-bottom: 0;
  margin-left: 15px;
  position: relative;
  color: #000;
  z-index: 5;
  font-size: 14px;
}
.third-main-button:hover .circle{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}
.right-icon-button{
  z-index: 5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 10px;
  border-radius: 100%;
  background-color: #ffde00;
  /*position: relative;*/
}
.third-section{
  overflow: hidden;
}
.carousel-image img{
  width: 100%;
}
.carousel-image{
  overflow: hidden;
  border-radius: 40px;
  z-index: -3;
}
.owl-carousel.main{
  transform: translateX(10%);
  /*z-index: -3;*/
}
.owl-carousel.main:after{
  position: absolute;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  content: '';
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.7346288857339811) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}
.owl-cont{
  position: relative;
}
.owl-people-cont{
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
  transform: translateX(50%);
}
.carousel-people img{
  width: 60% !important;
}
.carousel-people.sec img{
  width: 40% !important;
  transform: translate(30%, 20%);
}
.carousel-people.first img{
  width: 48% !important;
  transform: translate(17%, 32%);
}
.carousel-people.third{
  width: 80% !important;
  transform: translate(10%, 17%);
}
.third-section{
  padding: 70px 0px 100px 0px;
}
.carousel-text{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 25px;
  z-index: 8;
}
.owl-head{
  font-size: 25px;
}

/*fourth-section*/
.fourth-head .head{
  font-size: 30px;
  line-height: 1;
}
.fourth-head .subhead{
  font-size: 15xpx;
  line-height: 1;
}
.fourth-section .number{
  font-size: 35px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffde00;
  border-radius: 8px;
  position: relative;
}
.fourth-section .numbers-cont{
  position: relative;
  margin-bottom: 25px;
}
.fourth-section{
  padding-bottom: 100px;
}
.fifth-section{
  padding-top: 50px;
}
.fourth-section .number:before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff5b0;
  border-radius: 8px;
  z-index: -2;
  left: -10%;
  top: -10%;
}


/*fifth-section*/
.fifth-section img{
  width: 100%;
}
.fifth-section .image-fifth{
  padding-bottom: 30px;
}
.fifth-head{
  font-size: 30px;
}
.fifth-button{
  display: flex;
  background-color: #ffde00;
  padding: 12px 27px;
  border: #ffde00 solid 3px;
  border-radius: 13px;
  color: #000;
  margin-bottom: 25px;
}
.fifth-button:hover{
  background-color: transparent;
  color: #ffde00;
}
.wasup-cons-cont{
  color: #000;
  
}
.wasup-cons{
  background-color: #ffde00;
  padding: 20px 30px;
  border-radius: 13px;
}
.wasup-icon{
  width: 21%;
  display: flex;
  align-items: center;
}
.wasup-text{
  font-size: 20px;
}
.wasup-button{
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 0px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.wasup-button-text{
  margin-left: 15px;
  font-size: 13px;
  padding: 5px 15px;
}
.wasup-button:after{
  content: '';
  position: absolute;
  background-color: #009a3d;
  width: 80px;
  border-radius: 100%;
  height: 80px;
  z-index: -1;
  left: -8%;
  top: -27%;
}
.wasup-button-cont{
  width: 90%;
}
.wasup-a-cont{
  transform: translateY(50px);
}
.wasup-a-cont:hover .wasup-button{
  background-color: #009a3d;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.wasup-a-cont:hover .wasup-text{
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.wasup-a-cont:hover a.wasup-cons-cont{
  color: #fff;
}
/*six-section*/
.certificate-image img{
  width: 100%;
}
.six-head{
  font-size: 25px;
}
.six-section{
  background-color: #f4f8ff;
  padding-top: 100px;
  padding-bottom: 50px;
}


/*footer*/
.footer{
  background-color: #ffde00;
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer-text-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.footer-head{
  font-size: 28px;
}
.tel-cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.tel-cont a{
  color: #000;
}







.scrolltop .icon img{
  width: 50%;
}
.scrolltop .icon {
  margin-top: -2px;
  height: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer

}
.scrolltop {
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffffe6;
    border: 4px solid #ffde00;
    box-shadow: 0 0 30px 2px #ffffffe6;
    display: none;
    z-index: 1000;
}
.md{
  display: none;
}
.xl-img-cont{
  display: none;
}

/*adaptive*/
@media only screen and (max-width : 1255px) {
  .cont-image-six{
    width: 80%;
  }
  .image-main img {
    width: 55%;
  }
  .image2-nine {
    transform: translate(20px, 0px);
  }
}
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
  .main-img-1, .main-img-2, .main-img-3, .main-img-4{
    display: none;
  }
  .xl-img-cont{
    display: block;
    position: absolute;
    left: -50%;
    top: -50%;
  }
  .xl-img-cont img{
    width: 170%;    
  }
  .main-section{
    padding-bottom: 80px;
  }
  .main-text p br{
    display: none;
  }
  .wasup-button:after{
    width: 68px;
    top: -7%;
  }
  .wasup-button-text p br{
    display: none;
  }
  .fifth-section .wasup-icon img {
    width: 170%;
  }
}

@media only screen and (max-width : 1049px) {
    /*.image-main img {
      width: 45%;
    }
    .image-main {
      bottom: 35%;
    }*/
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .main-text p:after{
    width: 100%;
    bottom: -30%;
  }
  .main-subhead p br{
    display: none;
  }
  .second-text.lg{
    border-right: 0px;
  }
  .second-text{
    margin: 0;
    padding: 20px 0px;
  }
  .border-cont{
    border-bottom: 2px solid #000;
  }
  .xl-img-cont{
    position: relative;
    left: 0;
    top: 0;
  }
  .xl-img-cont img {
    width: 100%;
  }
  .second-cont {
    transform: translateY(-108px);
  }
  .main-section {
    padding-bottom: 0px;
  }
  .first-button{
    width: 100%;
    margin-right: 0 !important;
  }
  .main-button .first-button a{
    justify-content: center;
  }
  .xl-img-cont {
    transform: translateY(-30px);
    z-index: 0;
  }
  .main-box-text{
    z-index: 5;
    position: relative;
  }
  .second-section .subhead:after{
    width: 30%;
    bottom: -30%;
  }
  .third-main-text-head p br{
    display: none;
  }
  .third-car .col-lg-4:nth-child(1){
    order: 2;
  }
  .owl-carousel.main {
    transform: translateX(0%);
  }
  .carousel-people.sec img{
    width: 40% !important;
    transform: translate(10%, 20%);
  }
  .carousel-people.first img{
    width: 48% !important;
    transform: translate(0%, 32%);
  }
  .carousel-people.third{
    width: 80% !important;
    transform: translate(5%, 17%);
  }
  .carousel-text{
    padding-left: 0;
    transform: translateX(-7%);
  }
  .owl-cont{
    padding-top: 50px;
  }
  .third-main-text{
    padding-left: 0;
    margin-top: 50px;
  }
  .after-car{
    text-align: center;
    justify-content: center;
  }
  .fourth-head p br{
    display: none;
  }
  .numbers-subhead p br{
    display: none;
  }
  .steps-cont{
    margin-top: 30px;
  }
  .fifth-section .wasup-icon img {
    width: 100%;
  }
  .wasup-button:after {
    width: 80px;
    top: -25%;
  }




  .collapsing{
    margin-top: 42.5px;
  }
  .navbar-light .navbar-toggler {
    border-color: #ffde008c;
  }
  .collapse.in {
      display: block;
      margin-top: 28px;
  }
  .phone{
    margin: 0px 35px;
  }
  .header .collapsing{
    margin-top: 28px;
  }
  .header-scrolled .collapse.in{
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 30%);
  }
  .header .collapse.in, .header .collapsing{
    -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 30%);
    /*border-radius: 0px 0px 20px 20px;*/

  }
  .image-main{
    display: none;
  }
  .navbar-collapse {
      border-top: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 100%;
      left: 0;
      top: 60px;
      position: absolute;
      background: #fffffff2;
      z-index: 40;
  }
  
  .logo-light img {
    width: 42%;
  }
  .header{
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    border-bottom: 4px solid #ffde00;
  }



  .header-scrolled .navbar-collapse{
    background-color: #fffffff2;
  }
  .collapse.in .navbar-nav, .collapsing .navbar-nav, .collapsing .phone, .collapse.in .phone, .collapsing .adress, .collapse.in .adress{
    padding: 0 35px;
  }
  .collapse.in .navbar-nav, .collapsing .navbar-nav{
    padding-top: 15px;
    font-size: 25px;
  }
  .navbar-light .navbar-nav .nav-link{
    border-bottom: 1px solid #ffde008f;
  }
  .collapsing .phone, .collapse.in .phone{
    padding: 15px 0px;
    padding-bottom: 25px;
    border: 0px;
  }
  
  .header-scrolled .navbar-dark .navbar-toggler{
    color: #000;
  }


}
@media only screen and (max-width : 851px) {
  .carousel-text {
    padding-left: 0;
    transform: translateX(0%);
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .main-text p {
    font-size: 50px;
  }
  .left-subhead{
    text-align: center;
  }
  .right-subhead .futura-light br{
    display: none;
  }
  .right-subhead .futura-light{
    text-align: center;
  }
  .sub-button-cont{
    justify-content: center;
  }
  .aksiya-head {
    font-size: 25px;
  }
  .aksiya-subsubhead {
    font-size: 20px;
  }
  .aksiya-subhead {
    font-size: 20px;
  }
  .aksiya-cont{
    transform: translateY(35px);
  }
  .carousel-text {
    transform: translateX(-10%);
  }
  .wasup-text p br{
    display: none;
  }
  .wasup-text{
    text-align: center;
  }
  .wasup-button-cont {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 15px;
  }
  .wasup-icon{
    width: 15%;
  }
  .wasup-button{
    width: 57%;
  }
  .certificate-image img {
    width: 50%;
  }
  .certificate-image{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer-text-cont{
    margin-bottom: 30px;
  }


  
}
@media only screen and (max-width : 691px) {
  .carousel-text {
    transform: translateX(-5%);
  }
}
@media only screen and (max-width : 617px) {
  .carousel-text {
    transform: translateX(0%);
  }
  
}
@media only screen and (max-width : 576px) {
  .third-section {
    padding-top: 50px;
  }
  .logo-light img {
    width: 55%;
  }
  h2{
    font-size: 25px;
  }
  h1{
    font-size: 30px;
  }
  .fifth-section .image-fifth {
    padding-bottom: 20px;
  }
  .fifth-button{
    width: 100%;
    justify-content: center;
  }
  .fourth-section {
    padding-bottom: 50px;
  }
  .wasup-button-text{
    font-size: 15px;
  }
  .carousel-text{
    padding-bottom: 10px;
  }
  .owl-head{
    margin-bottom: 5px;
  }
  .carousel-text p{
    margin-bottom: 5px;
    font-size: 15px;

  }
}
@media only screen and (max-width : 528px) {
  .fourth-section .number{
    font-size: 25px;
    width: 40px;
    height: 40px;
  }
  .fourth-section .number:before{
    width: 40px;
    height: 40px;
  }
  .left-subhead .numb{
    font-size: 40px;
  }
  .left-subhead .subsub-head {
    font-size: 20px;
  }
  .right-subhead {
    font-size: 18px;
  }
  .wasup-icon {
    width: 20%;
  }
}

@media only screen and (max-width : 504px) {
  
  .logo-light img, img.logo{
    width: 76px;
  }
  .collapse.in .navbar-nav, .collapsing .navbar-nav, .collapsing .phone, .collapse.in .phone, .collapsing .adress, .collapse.in .adress {
    padding: 0 20px;
  }
  .collapsing .phone, .collapse.in .phone {
    padding-bottom: 20px;
    padding-top: 15px;
  }
  .collapse.in, .header .collapsing{
    margin-top: 11px;
  }
  .phone{
    margin: 0;
  }
  .collapse.in .navbar-nav, .collapsing .navbar-nav, .collapsing .phone, .collapse.in .phone{
    font-size: 20px;
  }
}
@media only screen and (max-width : 499px) {
  
}
@media only screen and (max-width : 461px) {
  .owl-head {
    font-size: 17px;
  }
  .wasup-icon {
    width: 30%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .scrolltop{
    width: 40px !important;
    height: 40px !important;
  }
  .scrolltop .icon{
    font-size: 27px !important;
    margin-top: .1px !important;
  }
}
@media only screen and (max-width : 430px) {
  .main-text p {
    font-size: 35px;
  }
  .main-text p:after {
    bottom: -50%;
  }
  .first-button{
    margin-right: 0 !important;
  }
  .wasup-button-text {
    font-size: 13px;
  }
  .certificate-image img {
    width: 80%;
  }
}
@media only screen and (max-width : 410px) {
  .fifth-section .wasup-icon img {
    width: 120%;
  }
  .wasup-button:after{
    width: 72px;
  }
  
}
@media only screen and (max-width : 404px) {
  .wasup-button-text {
    font-size: 10px;
  }
  
}
@media only screen and (max-width : 390px) {
  .aksiya-head, .fourth-head .head {
    font-size: 20px;
  }
  .aksiya-subhead, .aksiya-subsubhead{
    font-size: 17px;
  }
  .second-text{
    font-size: 18px;
  }
  .second-cont .second-text p br{
    display: none;
  }
  .third-main-text-head p, .fifth-head p, .six-head, .footer-head{
    font-size: 20px;
  }
  .tel-cont, .adress-cont{
    font-size: 13px;
  }
  .wasup-text {
    font-size: 17px;
  }
}
@media only screen and (max-width : 366px) {
  
  .scrolltop{
    bottom: 30px !important;
    right: 30px !important;
  }
}
@media only screen and (max-width : 361px) {
  .wasup-button {
    width: 65%;
  }
  .fifth-section .wasup-icon img {
    width: 100%;
  }
}
@media only screen and (max-width : 352px) {
  
}
@media only screen and (max-width : 339px) {
  .wasup-text {
    font-size: 14px;
  }
  .wasup-button {
    width: 75%;
  }
  .certificate-image img {
    width: 95%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .main-text p {
    font-size: 30px;
  }
}
@media only screen and (max-width : 296px) {
  .wasup-button {
    width: 100%;
  }
  .wasup-icon {
    width: 20%;
  }
}
@media only screen and (max-width : 266px) {
  .wasup-icon {
    width: 35%;
  }
  .wasup-cons{
    padding: 10px 20px;
  }
}